:root {
  --max-width: 100%;
  --text-color-primary: #cfcfcf;
  --text-color-emphasis: #fff;
  --text-color-subtle: #888;
}

@media (prefers-color-scheme: dark) {
  :root {
    // TODO: modes
  }
}

@function multiple-box-shadow($n) {
  $value: '#{random(2000)}px #{random(2000)}px #777';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #777';
  }
  @return unquote($value);
}

@keyframes slide-from-bottom {
  from {
    transform: translateY(25%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100dvh;
  color: var(--text-color-primary);
  background: black radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.stars-sm {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: multiple-box-shadow(2000);
}

.stars-lg {
  display: block;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: multiple-box-shadow(500);
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
  color: var(--text-color-subtle);
  font-weight: normal;
}

a {
  color: inherit;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 1rem;
  max-width: var(--max-width);
}

.cell {
  // border: 1px solid #4a4a4a;
  border: 1px solid hsl(212, 15%, 22%);
  border-radius: 8px;
  padding: 1.5rem;
  color: var(--text-color-primary);
  font-size: 0.9rem;
  // background: #1a1a1a;
  background: hsla(230, 10%, 8%, 0.8);

  &:hover {
    background: hsla(230, 10%, 8%, 1);
  }
}

.cell.compact {
  display: grid;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
  opacity: 0;
  animation: slide-from-bottom 0.25s ease-out 0.25s forwards;
}

.icon-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-left {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
}

a,
p {
  .icon {
    height: 1rem;
  }
}

strong {
  color: var(--text-color-emphasis);
}

a.cell:hover {
  border: 1px solid rgb(0, 119, 255);
}

.cell h2 {
  margin-bottom: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width: 768px) {
  :root {
    --max-width: 700px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem auto;
  }

  .cell {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --max-width: 900px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem auto;
  }
}

@media (min-width: 1280px) {
  :root {
    --max-width: 1100px;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
    margin: 4rem auto;
  }
}

@media (min-width: 1536px) {
  :root {
    --max-width: 1400px;
  }
}
