h1 {
  grid-column: 1 / -1;
}

.intro {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  animation: slide-from-bottom 0.25s ease-out;
}

.welcome {
  color: var(--text-color-subtle);
}

.memoji {
  display: block;
  width: 100%;
  height: auto;
  max-width: 200px;
  align-self: end;
}

.contact {
  opacity: 0;
  animation: slide-from-bottom 0.25s ease-out 0.25s forwards;

  h3 {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
  }

  ul {
    list-style: none;
  }
}

.about {
  animation: slide-from-bottom 0.25s ease-out;

  p:not(:first-of-type) {
    margin-top: 1rem;
  }

  ul {
    margin-top: 1rem;
    padding-left: 1rem;
  }
}

.time {
  font-weight: normal;
}

.location {
  position: relative;
  overflow: hidden;
  opacity: 0;
  animation: slide-from-bottom 0.25s ease-out 0.5s forwards;

  .icon {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
    opacity: 0.1;
    font-size: 10rem;
  }
}

.now {
  position: relative;
  opacity: 0;
  animation: slide-from-bottom 0.25s ease-out 0.5s forwards;
}

@keyframes ping {
  from {
    transform: scale(100%);
    opacity: 1;
  }
  to {
    transform: scale(200%);
    opacity: 0;
  }
}

.status {
  position: relative;
  width: 10px;
  height: 10px;

  &::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: rgb(0, 204, 92);
    transform-origin: center;
    animation: ping 1s ease-out infinite;
  }

  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: rgb(0, 204, 92);
  }
}

@media (min-width: 768px) {
  .intro {
    grid-column: span 2;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 0 2rem;
  }

  .memoji {
    grid-row: span 2;
    max-width: 353px;
  }

  .about {
    grid-row: span 3;
  }
}

@media (min-width: 1024px) {
  .about {
    grid-row: span 4;
  }

  .contact {
    grid-row: span 2;
  }
}

@media (min-width: 1280px) {
  .intro {
    grid-column: span 3;
  }

  .about {
    grid-row: span 3;
  }
}
